<header class="topbar">
  <a class="topbar__brand" href="/welcome">
    <div class="brand__logo">R</div>
    <div class="brand__text">
      <div class="brand__title">Web Randevu</div>
      <div class="brand__sub">Hasta • Doktor • Yönetici</div>
    </div>
  </a>

  <div class="topbar__right">
    <div class="tagline">
      <i class="fa-regular fa-clock"></i> {{ currentTime }}
    </div>

    <a class="btn btn--ghost" href="/register">Kayıt Ol</a>
    <a class="btn btn--solid" href="/login">Giriş Yap</a>
  </div>
</header>